  button {
    background-color: rgb(204, 191, 191) !important;
    color: black !important;
    } 
    .cor {
        background-color:rgb(139, 136, 136) !important;
    }

    /* .dialog{
      background-color:#1a1b27 ;
      background: #1a1b27;
     
    }

    body{
      background: #1a1b27;
    }
  */


    