.nav {
    background: #5e5e5e;
    color: black;
    height: 100px;

   /*  transition: all .3s ease; */

   /* &__item {
    &--link{
        color: #ffffff;
        &:hover {
           color:rgba(13, 233, 68, 0.589) ; 
        }
    }
   }
 */
       
}

.direito {
    
  left: 92%
}