.nav{
    background:  #1d1f31;
    /* background: #1a1b27; */
    color: rgb(124, 112, 112);;
    height: 72px;
    
}

img {
  bottom: 15%;
 
}


.direito {
    display: block;
    align-items: center;
    justify-content: center;
    left: 94%;
    top:-20%;
    
}

button:hover {
  color:  #29b692;
  cursor:pointer;
}