<body>
  
    <!-- aqui temos uma condição ngif onde essas informações apareceram na tela quando ela for verdadeira -->
    
    <mat-card *ngIf="cardValues" class="example-card">
     
        <mat-card-title-group>
          <mat-card-title>Github</mat-card-title>
          <mat-card-subtitle>GitHub</mat-card-subtitle>
          <img id="ghLogo" src="https://cdn-icons-png.flaticon.com/512/25/25231.png" >
          <img class="img" mat-card-xl-image [src]="image" >
        </mat-card-title-group>
        
        <div class="container">
        <mat-card-content>
         <span>Id of User:</span> {{id}}
        </mat-card-content>
      
        <mat-card-content>
         <span>User name:</span> {{login}}
        </mat-card-content>
      
        <mat-card-content>
         <span>Followers:</span> {{followers}}
        </mat-card-content>
      
        <mat-card-content>
         <span>Following:</span> {{following}}
        </mat-card-content>
      
        <mat-card-content>
         <span>Public Repositories:</span> {{public_repos}}
        </mat-card-content>
    
        <mat-card-content>
            <span>Blog:</span> {{blog}}
        </mat-card-content>
    
        <mat-card-content>
            <span>Email:</span> {{email}}
        </mat-card-content>
    
       <!--  <mat-card-content>
          <span>html_url:</span> {{html_url}}
      </mat-card-content> -->
    
      <mat-card-content *ngFor="let item of repositorios">
        <span>Repos:</span> {{item.full_name}} 
      </mat-card-content>  
    </div>
      </mat-card>
   
 
    
      
      
      <!-- tela inicial com um h1, um form e um label nela fica a msg tipo um placeholder
    depois um input com campo para texto e depois um botão com uma função de click que vai chamar a função dataUsers  -->
      <mat-card> 
        <h1>Buscar usuário</h1>
        <mat-form-field appearance="fill">
          <mat-label>Digite o nome do usuário</mat-label>
          <input matInput #input />
        </mat-form-field>
        <button color="primary" type="submit" (click)="dataUsers(input.value)" mat-raised-button>
          Buscar Usuário
        </button>
      </mat-card>
      
    
     <ng-template></ng-template>
   
    </body>