<div class="buscar">
 
  <mat-card> 
    <img id="ghLogo" src="https://cdn-icons-png.flaticon.com/512/25/25231.png" >
     <h1>Buscar usuário</h1>
       <mat-form-field appearance="fill">
       <mat-label>Digite o nome do usuário</mat-label>
        <input matInput #input />
       </mat-form-field>
       <button (click)="dashboard(input.value)" color="primary"  mat-raised-button>
        <mat-icon>search</mat-icon>
      </button>
  </mat-card>
</div>


  

     
<!-- <ng-template></ng-template> -->
   
    
 