 mat-card{
   /*  background: rgb(117, 110, 110); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    word-break: break-all;
    height: 100%;
    /* background-color: #1a1b27; */
    
} 
#ghLogo {
    width: 120px;
    height: 120px;
}


 .buscar {
    display:contents;
   
} 

mat-form-field {
width: 40%;
text-align: center;
}

mat-card button {
border-radius: 50px;
background-color:gray;
/* background-color: rgb(224, 191, 178); */
width: 40%;
color: black;
     
}
mat-label {
    color:black;

}


mat-card button:hover {
background-color:#5e5e5e ;
color: white;
  }




