

<body>
  


  <!-- <h1>{{informacao}}</h1> -->
<!--   <mat-card *ngIf="cardValues" class="example-card"> -->

  <!--  <mat-card-title-group>
    <mat-card-title>Github</mat-card-title>
    <mat-card-subtitle>GitHub</mat-card-subtitle> 
    <img id="ghLogo" src="https://cdn-icons-png.flaticon.com/512/25/25231.png" >
    <img class="img" mat-card-xl-image [src]="image" >
  </mat-card-title-group> 
 -->
    <div class="containerP">

      <div class="lateral-menu">
        <img class="img" mat-card-xl-image [src]="image" >
        <!-- <img class="imagem" src="assets/github jpg.png" /> -->
        <p></p> {{login}}
        <div class="menu-itens">
          <ul>
            <li>
              <img class="imagemLogo" src="../../../assets/iconmonstr-github-1.svg" /> 
              <!-- <img class="imagemLogo" src="../../../assets/iconmonstr-github-1.svg" />  -->
                <p>xxx</p>
                
            </li>
            <li>
                <img class="imagemLogo" src="../../../assets/iconmonstr-github-1.svg" /> 
                <p>xxx</p>
            </li>
            <li>
                <img class="imagemLogo" src="../../../assets/iconmonstr-github-1.svg" /> 
                <p>xxx</p>
            </li>
          </ul>
        </div>
      </div>

      <div class="content">
        <div class="cards-header">
        <div class="card card-small">
          <div class="card-content">
            <div class="card-info">
              <span>Id of User:</span> {{id}}
             <!--  <h2>12</h2> -->
            </div>
            <img src="../../assets/iconmonstr-github-1.svg">
          </div>
        </div>

        <div class="card card-large">
          <div class="card-container">
          <div class="card-content">
            <div class="card-info">
              <p>Followers:</p>{{followers}}
              <!-- <h2>25</h2> -->
            </div>
            <img  src="../../assets/iconmonstr-github-1.svg">
          </div>
       

        
          <div class="card-content">
            <div class="card-info">
              <p>Following:</p>{{following}}
              <!-- <h2>45</h2> -->
            </div>
            <img  src="../../assets/iconmonstr-github-1.svg">
          </div>
        </div>
        </div>
        

        <div class="card card-small">
          <div class="card-content">
            <div class="card-info">
              <p>Public Repositories:</p>{{public_repos}}
             <!--  <h2>55</h2> -->
            </div>
            <img  src="../../assets/iconmonstr-github-1.svg">
          </div>
        </div>
      </div>

<main>

      <div class="table">
        <table>
          <thead>
            <tr>
              <th>Repositório</th>
              
          </thead>
          <tbody>
            <tr>
              <td> <mat-card-content *ngFor="let item of repositorios">
                <span>Repos:</span> {{item.full_name}} 
              </mat-card-content>    </td>  
            </tr>
           
            
           
          </tbody>
        </table>
    
          
    
      </div>
    </main>

      
      </div>
    </div>
  <!-- </mat-card> -->


    <!-- <div class="container2">
    <mat-card *ngIf="cardValues" class="example-card">
     
      <mat-card-title-group>
        <mat-card-title>Github</mat-card-title>
        <mat-card-subtitle>GitHub</mat-card-subtitle>
        <img id="ghLogo" src="https://cdn-icons-png.flaticon.com/512/25/25231.png" >
        <img class="img" mat-card-xl-image [src]="image" >
      </mat-card-title-group>
      


      <div class="container">
      <mat-card-content>
       <span>Id of User:</span> {{id}}
      </mat-card-content> -->

     

    
      
  
      <!-- <mat-card-content>
          <span>Blog:</span> {{blog}}
      </mat-card-content>
  
      <mat-card-content>
          <span>Email:</span> {{email}}
      </mat-card-content> -->
  
     <!--  <mat-card-content>
        <span>html_url:</span> {{html_url}}
    </mat-card-content> -->

   <!--  <mat-card-content *ngFor="let item of repositorios">
      <span>Repos:</span> {{item.full_name}} 
    </mat-card-content> 
      -->
   
 <!--  </div>
</mat-card> 
  </div>  -->

  </body>
   <!-- <img class="imagemLogo" src="../../../assets/gits.png" /> -->