<app-navbar></app-navbar>
  
    <div class="containerP">

      <div class="lateral-menu">
        <img class="img" mat-card-xl-image [src]="dataUser.avatar_url" >
        <br>
        
        <!-- <img class="imagem" src="assets/github jpg.png" /> -->
        <h2>{{dataUser.login}}</h2> 
        <br>
        <br>
        
        <div class="menu-itens">
          <ul>
            <li>
             <a  href="https://github.com/{{dataUser.login}}" target ="_blank"><img
              class="imagemLogo" src="../../assets/icons8-link-externo.svg" /></a> 
              <!-- <span>user profile</span> -->
            </li>
            <li>
             <!--  <img class="imagemLogo" src="../../assets/gitBranco.svg" /> -->
                <p></p>
            </li>
            <li>
                 <img class="imagemLogo" src="../../assets/gitBranco.svg" />
                <p></p>
            </li>
          </ul>
        </div>
      </div>

      <div class="content">
        <div class="cards-header">
        <div class="card card-small">
          <div class="card-content">
            <div class="card-info">
              <span>Id of User:</span> {{dataUser.id}}
           
            </div>
            <img src="../../assets/icons8-ok.svg">
          </div>
        </div>

        <div class="card card-large">
          <div class="card-container">
          <div class="card-content">
            <div class="card-info">
              <p>Followers:</p>{{dataUser.followers}}
           
            </div>
            <img src="../../assets/icons8-myspace.svg">
          </div>
       

        
          <div class="card-content">
            <div class="card-info">
              <p>Following:</p>{{dataUser.following}}
             
            </div>
            <img src="../../assets/icons8-myspace.svg">
          </div>
        </div>
        </div>
        

        <div class="card card-small">
          <div class="card-content">
            <div class="card-info">
              <p>Public Repositories:</p>{{dataUser.public_repos}}
           
            </div>
            <img src="../../assets/icons8-notícias.svg">
          </div>
        </div>
      </div>

      <div class="separador1">
        <p></p>
      </div>

<main>
  
  <div class="gitStats">
    <!--   <img src="https://github-readme-stats.vercel.app/api/?username={{dataUser.login}}" alt="">  --> 
       <img src="https://github-readme-stats.vercel.app/api?username={{dataUser.login}}&show_icons=true&theme=tokyonight&include_all_commits=true&count_private=true" alt="">

       <img src="https://github-readme-stats.vercel.app/api/top-langs/?username={{dataUser.login}}&layout=compact&langs_count=6&theme=tokyonight" alt="">
     </div>
     <div class="separador">
      <p></p>
     </div>

       <div class="table">
        <table>
          <thead>
            <tr>
              <th class="t">Repository / Language</th>
              
          </thead>
          <tbody>
            <tr>
              <td > <mat-card-content *ngFor="let item of repositorios">
                <span class="l">Name: {{item.name}} - Language: {{item.language}}</span> 
                <p></p>
                <br>
              </mat-card-content>
            </td>  
            </tr>
          </tbody>
        </table>
      </div>
      
      
     
    </main>

      
      </div>
    </div>
  <!-- </mat-card> -->
  
      <!-- <mat-card-content>
          <span>Blog:</span> {{blog}}
      </mat-card-content>
  
      <mat-card-content>
          <span>Email:</span> {{email}}
      </mat-card-content> -->
  
     <!--  <mat-card-content>
        <span>html_url:</span> {{html_url}}

    </mat-card-content> -->

   
   
 


 