<app-navbar></app-navbar>
  
  <!--  <mat-card-title-group>
    <mat-card-title>Github</mat-card-title>
    <mat-card-subtitle>GitHub</mat-card-subtitle> 
    <img id="ghLogo" src="https://cdn-icons-png.flaticon.com/512/25/25231.png" >
    <img class="img" mat-card-xl-image [src]="image" >
  </mat-card-title-group> 
 -->
    <div class="containerP">

      <div class="lateral-menu">
        <img class="img" mat-card-xl-image [src]="dataUser.avatar_url" >
        <br>
        
        <!-- <img class="imagem" src="assets/github jpg.png" /> -->
        <h2>{{dataUser.login}}</h2> 
        <div class="menu-itens">
          <ul>
            <li>
              <img class="imagemLogo" src="../../../assets/iconmonstr-github-1.svg" /> 
              
                <p>xxx</p>
                
            </li>
            <li>
                <img class="imagemLogo" src="../../../assets/iconmonstr-github-1.svg" /> 
                <p>xxx</p>
            </li>
            <li>
                <img class="imagemLogo" src="../../../assets/iconmonstr-github-1.svg" /> 
                <p>xxx</p>
            </li>
          </ul>
        </div>
      </div>

      <div class="content">
        <div class="cards-header">
        <div class="card card-small">
          <div class="card-content">
            <div class="card-info">
              <span>Id of User:</span> {{dataUser.id}}
           
            </div>
            <img src="../../assets/iconmonstr-github-1.svg">
          </div>
        </div>

        <div class="card card-large">
          <div class="card-container">
          <div class="card-content">
            <div class="card-info">
              <p>Followers:</p>{{dataUser.followers}}
           
            </div>
            <img  src="../../assets/iconmonstr-github-1.svg">
          </div>
       

        
          <div class="card-content">
            <div class="card-info">
              <p>Following:</p>{{dataUser.following}}
             
            </div>
            <img  src="../../assets/iconmonstr-github-1.svg">
          </div>
        </div>
        </div>
        

        <div class="card card-small">
          <div class="card-content">
            <div class="card-info">
              <p>Public Repositories:</p>{{dataUser.public_repos}}
           
            </div>
            <img  src="../../assets/iconmonstr-github-1.svg">
          </div>
        </div>
      </div>

<main>

      <div class="table">
        <table>
          <thead>
            <tr>
              <th>Repository / Language</th>
              
          </thead>
          <tbody>
            <tr>
              <td> <mat-card-content *ngFor="let item of repositorios">
                <span>Name: {{item.name}} - Language: {{item.language}}</span> 
                <p></p>
                <br>
              </mat-card-content>
            </td>  
            </tr>
          </tbody>
        </table>
      </div>
    </main>

      
      </div>
    </div>
  <!-- </mat-card> -->
  
      <!-- <mat-card-content>
          <span>Blog:</span> {{blog}}
      </mat-card-content>
  
      <mat-card-content>
          <span>Email:</span> {{email}}
      </mat-card-content> -->
  
     <!--  <mat-card-content>
        <span>html_url:</span> {{html_url}}

    </mat-card-content> -->

   
   
 


 